        <!-- Indentation continues from 'header.ejs' -->
        <footer class="flex-100w">
            <div class="footer-container flex-100w flex-container-max-width-800">
                <p class="flex-100w">Made with ❤️ by Nicolas Gonzalez</p>
            </div>
        </footer>
    </body>
</html>
